body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Libre Franklin",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.clip-blobby {
  clip-path: path("M47.8,-67.6C62.4,-57.8,75.1,-44.3,78.7,-29.8C82.4,-15.4,77,-0.1,72.4,15.7C67.7,31.6,64,47.9,52.4,58C40.9,68.1,21.4,71.9,3.7,68.3C-14.1,64.8,-28.2,53.9,-43.3,43.2C-58.4,32.5,-74.6,22,-79.6,7.8C-84.6,-6.4,-78.4,-24.2,-67.7,-37.2C-56.9,-50.1,-41.6,-58.2,-26.9,-66.4C-12.2,-74.6,1.9,-83,15.9,-83.5C30,-83.9,45.1,-76.5,47.8,-67.6Z");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;