@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%; /* Ensure full height for the page */
  margin: 0;    /* Remove default margins */
  padding: 0;   /* Remove default padding */
}

body {
  display: flex;       /* Ensure body grows with its children */
  flex-direction: column;
}

#root {
  flex-grow: 1;        /* Ensure the root div spans full height */
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
  
  .badge-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .badge-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .badge-container:hover .badge-hover-effect {
    transform: scale(1.1); 
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6); 
  }
  
  
  .badge-overlay {
    position: absolute;
    top: 5%;  
    left: 5%;
    width: 90%;  
    height: 90%;
    background: rgba(0, 0, 0, 0.7);  
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.3s ease;
  }
  
  
  .badge-container:hover .badge-overlay {
    opacity: 1;
  }